<!DOCTYPE html> 

<html> 

<head> 

<title>una pagina che mostra web socket</title> 

</head> 

  

<body> 

  <div class="wrapper"> 

   <h1>Esempio con socket.io</h1> 

   <p>Questa pagina verrà aggiornata con web socket</p> 

    

   <button id="pulsante 1">cliccami</button> 

   <div id="valore aggiornato"></div> 

    

  </div> 

  

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script> 

<script> 

  var socket = io(); 

  

  var pulsante = document.getElementById('pulsante 1'); 

  pulsante.onclick = function(e){ 

  socket.emit('messaggio ID1', 'ho fatto click'); 

  } 

  

  socket.on('messaggio ID1', function(msg){ 

  document.getElementById('valore aggiornato').innerHTML = msg; 

  }); 

  

</script> 

</body> 

</html>  
